Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
config/
configure
libtool
.deps/
.libs/
src/libzmtp.la
src/libzmtp.pc
src/libzmtp_selftest
src/platform.h
src/platform.h.in
src/platform.h.in~
src/stamp-h1
*.lo
*.o
src/zmtp_selftest
